<p style="color: green"><%= notice %></p>

<h1>Winners</h1>

<div id="winners">
  <% @winners.each do |winner| %>
    <%= render winner %>
    <p>
      <%= link_to "Show this winner", winner %>
    </p>
  <% end %>
</div>

<%= link_to "New winner", new_winner_path %>
