<header>
  <div class="header-logo">
    <!-- Jadikan ini tautan menuju halaman "Top" -->
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <!-- Jadikan ini tautan menuju halaman "About" -->
      <a href="/about">Tentang</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Berkicau pada dunia.<br>Terhubung dengan dunia.</h2>
    <p>Bagikan momen favorit Anda!</p>
  </div>
</div>