<div class="about-main">
  <h2>About WisdomApp</h2>
  <p>
    WisdomApp is a social networking service.
    Users can post words or sentences of motivation called "Wisdomword".
  </p>
  <img class="about-img" src="/garuda-mp.png">
</div>