<div class="about-main">
  <h2><strong>Tentang WisdomApp</strong></h2>
  <p>
    WisdomApp adalah aplikasi pertemanan untuk saling memotivasi.
    <br>
    Pengguna dapat menulis kata-kata motivasi yang di sebut "Wisdomword".
   

  </p>
  <img class="about-img" src="/garuda-mp.png">
</div>