<div class="main top-main">
  <div class="top-message">
    <h2>Wisdomwords to the world.<br>motivate and encourage to everyone.</h2>
    <p>Share words of motivation and encouragement for everyone in need!</p>
  </div>
</div>