/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Write your code below */
.header{
  background-color:#26d0c9;
  color:#fff;
  height: 90px;
}
.logo{
  float:left;
  font-size: 36px;
  padding: 20px 40px;
  /*padding-left:40px;*/
  /*padding-right:40px;*/
  /*padding-top:20px;*/
  /*padding-bottom:20px;*/
}
.header-list ul{
  float:left;
  /*padding-top:20px;*/
}
.header-list li{
  float:left;
  padding: 33px 20px;
  /*padding-top:33px;*/
  /*padding-bottom:33px;*/
  /*padding-left:20px;*/
  /*padding-right:20px;*/
}
.top{
  margin-top:100px;
  margin-bottom:100px;
  margin-left:80px;
  margin-right:80px;
}
.top h1{
  font-size:140px;
}

.top span{
  color:#ff4a4a;
}
.top h2{
  font-size:60px;
}
.content{
  height:500px;
  width:100%;
  margin:100px 80px;
}
.content h3{
    font-size:28px;
    border-bottom:2px solid #dee7ec;
    padding-bottom:15px;
}

.lessons-wrapper{
  margin-top:50px;
}
.lesson{
  float:left;
  /*padding:40px;*/
  /*padding-left:0;*/
  padding:0 40px 40px 0;
}

.lesson img{
  padding-bottom:30px;
}

.lesson p{
  font-size:24px;
}

.contact{
  /*margin-right:80px;*/
  /*margin-left:80px;*/
  /*margin-top:100px;*/
  /*margin-bottom:100px;*/
  margin:100px 80px;
}

.contact h3{
  font-size:28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom:15px;
}

.contact .input-wrapper{
  width:400px;
}

.contact div p{
  padding-bottom:10px;
  border-bottom:1px solid #dee7ec;
}
.contact div{
  margin-bottom:30px;
}
.contact .email{
  margin-top:50px;
}

input, textarea{
  font-size:18px;
  padding:20px;
  width:100%;
  border-color:1px solid #dee7ec;
}

.contact .kirim input{
  font-size:18px;
  color: #889eab;
  background-color:#dee7ec;
}

