<header>
  <div class="header-logo">
    <%= link_to("BERANDA", "/") %>
  </div>
  <ul class="header-menus">
    <li><%= link_to("INFO", "/about") %></li>
    <li><%= link_to("PROFIL", "/info") %></li>
  </ul>
</header>
<div class="about-main">
  <h2>Hari Kemerdekaan Republik Indonesia</h2>
  <img class="about-img" src="about.jpg">
  <p>
    Hari Kemerdekaan Bangsa Indonesia atau dalam bahasa sehari-harinya disebut sebagai Tujuhbelasan adalah hari libur nasional di Indonesia untuk memperingati Proklamasi Kemerdekaan Bangsa Indonesia pada 17 Agustus 1945.<br>
    Setiap tahun pada tanggal 17 Agustus, rakyat Indonesia merayakan dan mensyukuri Peringatan Kemerdekaan Bangsa Indonesia dengan meriah, mulai dari melaksanakan upacara bendera hingga melakukan berbagai macam perlombaan.<br>
    Satu hari sebelum Hari Kemerdekaan, Presiden Indonesia selalu memberi Pidato Kenegaraan di Gedung MPR untuk menyambut Hari Kemerdekaan Bangsa Indonesia.<br>
    Undang-Undang Republik Indonesia Nomor 24 Tahun 2009 tentang Bendera, Bahasa, dan Lambang Negara serta lagu kebangsaan Indonesia pasal 7 ayat 3 mengatur tentang kewajiban mengibarkan bendera Merah Putih bagi setiap warga negara yang memiliki hak penggunaan rumah, gedung kantor, satuan pendidikan, transportasi publik dan transportasi pribadi di wilayah NKRI, serta kantor perwakilan diplomatik Indonesia di luar negeri pada tanggal 17 Agustus.<br>
    Kini, pemerintah mengimbau kepada masyarakat untuk mengibarkan bendera merah putih selama satu bulan penuh di bulan Agustus dari tanggal 1 hingga 31 untuk memperingati HUT RI.<br>
    Selain mengibarkan bendera merah putih, masyarakat juga memasang umbul-umbul dengan pola merah putih pada sepanjang jalan desa, kota dan provinsi serta menghiasi lingkungan dengan nuansa merah putih sebagai representasi dari warna bendera negara sebagai wujud nasionalisme untuk memeriahkan hari kemerdekaan.
  <br> <%= link_to("Lihat Selengkapnya", "https://id.wikipedia.org/wiki/Hari_Kemerdekaan_Republik_Indonesia") %>
  </p>
  
</div>