<header>
  <div class="header-logo">
    <%= link_to("BERANDA", "/") %>
  </div>
  <ul class="header-menus">
    <li><%= link_to("INFO", "/about") %></li>
    <li><%= link_to("PROFIL", "/info") %></li>
  </ul>
</header>
<div class="main-info">
<div class="container">
<div class="info">
        <img class="info-img "src="info.jpeg">
        <h2>Erma Yuli Clara Saragih</h2>
        <p>Email : ermayuliclara@gmail.com</p>
</div>
</div>
</div>