<div class="main top-main">
  <div class="top-message">
    <h2>Selamat Hari Kemerdekaan HUT RI.<br></h2>
    <h3>PULIH LEBIH CEPAT BANGKIT LEBIH KUAT</h3>
    <p><%=link_to("Lihat Selengkapnya", "/about")%></p>
  </div>
  <div class="footer">
    <p>Copyright @2022 by Erma Yuli Clara Saragih</p>
  </div>
</div>