<div class="container">
  <span class="text1">Bienvenue </span>
  <span class="text2">SGA de Littérature Française </span>
  <button class="btn-1">
    <a href="beranda">Allez-Y!</a>
    </button>
</div>