/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda di bawah */
header {
      background-color: #26d0c9;
    color: #fff;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    font-weight:normal;
}

.header-list li {
    float: left;
    padding: 33px 20px;
}

.main {
    padding: 100px 80px;
}

.main h1 {
  font-size: 140px;
}

.main .header span {
  color: #ff4a4a;
}

.main h2 {
  font-size: 60px;
}