<div class="page-header" style="color: red;">
    <div class="container">
        <h1 class="title">Daftar Sebagai Admin</h1>
    </div>
    <div class="breadcrumb-box">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Signup</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
        <div class="row">
			<div class="col-md-12">
                
                <% @user.errors.full_messages.each do |message|%>
                    <p style="color: red">
                        <%= message %>
                    </p>
                <% end %>
				<%= form_tag("/user/add") do %>
					<input type="text" class="form-control" name="fullname" placeholder="Fullname">
					<input type="text" class="form-control" name="username" placeholder="Username">
					<input type="password" class="form-control" name="password" placeholder="Password">
					<input type="submit" name="" value="Sign Up" class="btn btn-primary">
				<% end %>
			</div>
        </div>
    </div>
</section>