<h1>Editing contestant</h1>

<%= render "form", contestant: @contestant %>

<br>

<div>
  <%= link_to "Show this contestant", @contestant %> |
  <%= link_to "Back to contestants", contestants_path %>
</div>
