<div class="container">
  <span class="text1">Bienvenue </span>
  <span class="text2">Français Pour Débutants</span>
  <button class="btn-1" id="show-login">Allez-Y!</button>
</div>

<div class="popup">
    <div class="close-btn">&times;</div>
    <div class="form">
        <% if @error_message %>
            <div class="form-error">
            <%= @error_message %>
            </div>
        <% end %>
        <h2>Connexion</h2>
        <%= form_tag("/login") do %>
        <div class="form-element">
            <label for="email">E-mail</label>
            <br>
            <input type="text" name="email" value="<%= @email %>" id="input-email" placeholder="Alamat Email Anda" size="38">
        </div>
        <div class="form-element">
            <label for="password">Mot de passe</label>
            <br>
            <input type="password" name="password" value="<%= @password %>" id="password" placeholder="Kata Sandi Anda" size="38">
        </div>
        <!----- Only if you need it just declare it ----
        <div class="form-element">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember-me</label>
        </div> ----->
        <div class="form-element">
            <button type="submit" value="Sign">Laissez-moi d'entrer!</button>
        </div>
        <% end %>
        <div class="form-element">
            <a href="/signup">Vous n'avez pas de compte ?</a>
        </div>
    </div>
</div>


    <script type="text/javascript">
        document.querySelector("#show-login").addEventListener("click",function(){
    document.querySelector(".popup").classList.add("active");
})
document.querySelector(".popup .close-btn").addEventListener("click",function(){
    document.querySelector(".popup").classList.remove("active");
})
    </script>