                <li class="comment">
                  <div class="vcard bio">
                    <img src="<%= request.base_url %>/img/person_1.jpg" alt="Pics">
                  </div>
                  <div class="comment-body">
                    <h3><%= comment.commenter %></h3>
                    <div class="meta"><%= comment.created_at %></div>
                    <p><%= comment.body %></p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>