<div class="section1">
    <h1>Savez-vous?</h1>
</div>

<div class="section2">
    <h1>Ini Judulnya</h1>
    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium asperiores libero, totam quaerat a blanditiis perspiciatis cum officia veniam voluptas, quibusdam explicabo eveniet quae. Hic ex eveniet rem sed. Perferendis?</h3>
</div>
<div class="section3">
    <h1>Ayo Rayakan dengan Penuh Semangat!</h1>
</div>