<div class="main posts-show">
  <div class="post_container">
    <div class="posts-show-item">
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <div class="post-menus">
        <%= link_to("Ubah", "/posts/#{@post.id}/edit") %>
        <%= link_to("Hapus", "/posts/#{@post.id}/destroy", {method: "posts"}) %>
      </div>
    </div>
  </div>
</div>