<%= form_tag("/signup/create") do %>
<div class="user">
    <h2>SIGN UP</h2>
    <section>
        <p>Nama</p>
        <input type="text" name="name">
    </section>

    <section>
        <p>Email</p>
        <input type="text" name="email">
    </section>

    <section>
        <p>Password</p>
        <input type="password" name="password">
    </section>

    <input class="button-user" type="submit" value="REGISTER">
</div>
<% end %>

