<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <%= @detail.content %>
      </p>
      <div class="post-time">
        <%= @detail.created_at %>
      </div>
    </div>
  </div>
</div>