<div class="main top-main">
  <div class="top-message">
    
    <h2>Kebumen Pro <span style="color:#9fb038;">Aspirasi</span><br>
    <p>Merdeka Adalah Disaat Kedaulatan Ditangan Rakyat</p>
  </div>
</div>