<div class="container-beranda">
    <div>
        <div class="section1">
            <div class="section1-title1">
                <h1>bienvenue !</br>les nouveaux étudiants!</h1>
                <h5 class="section1-subtitle1">Savez Vous ?</h5>
            </div>
        </div>
    </div>

    <!---<div class="transition-white"></div>--->
    <div class="section2">
        <div class="section2-content1">
            <img src="proklamasi_kemerdekaan.jpg" alt="Proklamasi Kemerdekaan">
        </div>
        <div class="section2-content1">
            <h1 class="section2-title1">Kemerdekaan Indonesia</h1>
            <h5 class="section2-subtitle1">17 Agustus 1945</h5>
            <p class="section2-description1">
                Hari Kemerdekaan Bangsa Indonesia atau dalam bahasa sehari-harinya disebut sebagai Tujuhbelasan adalah hari libur nasional di Indonesia untuk memperingati Proklamasi Kemerdekaan Bangsa Indonesia pada 17 Agustus 1945. Setiap tahun pada tanggal 17 Agustus, rakyat Indonesia merayakan dan mensyukuri Peringatan Kemerdekaan Bangsa Indonesia dengan meriah, mulai dari melaksanakan upacara bendera hingga melakukan berbagai macam perlombaan.
            </p>
        </div>
    </div>
    <hr>
    <div class="section3">
        <div class="section3-content1">
            <h1 class="section3-title1">Sejarah Proklamasi <br>Kemerdekaan Indonesia</h1>
            <h5 class="section3-subtitle1">8-17 Agustus 1945</h5>
            <p class="section3-description1">
                Proses kemerdekaan Indonesia sendiri diawali dengan menyerahnya jepang kepada sekutu pada perang dunia ke-2. Setelah dijatuhi bom atom sebanyak dua kali, Jepang akhirnya menyerah kepada sekutu sehingga berdampak kepada dominasi kependudukan Jepang menjadi melemah. Hal ini kemudian menimbulkan kesempatan yang akhirnya dicoba untuk direalisasikan oleh masyarakat Indonesia. Sepak terjang kemerdekaan Indonesia diawali dengan rencana penyusunan naskah proklamasi kemerdekaan. Pada mulanya, Soekarno, Hatta, dan golongan tua lainnya masih mencoba untuk mengikuti protokol yang diajukan oleh pemerintah jepang, yaitu melewati sidang BPUPKI dan PPKI. Namun pihak golongan muda menolak, mereka ingin kemerdekaan Indonesia segera diproklamasikan tanpa campur tangan pihak asing. Dengan demikian, golongan muda sangat bersikeras untuk membujuk Soekarno, Hatta, serta golongan tua untuk segera memerdekaan Indonesia.
            </p>
            <p class="section3-description2"> Dengan alasan tersebutlah terjadi peristiwa Rengasdengklok, yaitu peristiwa pengasingan Soekarno, Hatta, dan golongan tua untuk menjauh dari ibu kota yang mana terdapat banyak pengaruh dari pemerintah Jepang. Di Rengasdengklok, semalam suntuk para pelopor Indonesia merumuskan naskah Proklamasi Indonesia. Atas berkat rahmat Tuhan Y.M.E, Proklamasi akhirnya dikumandangkan pada tanggal 17 Agustus 1945 kurang lebih pada pukul 10.00 WIB. </p>
        </div>
        <div class="section3-content1">
            <img src="pengibaran_bendera.jpg">
        </div>
    </div>
</div>
<div class="section4">
    <h1 class="section4-title1">Ayo Rayakan dengan Penuh Semangat!</h1>
    <button class="button-shortcut-lesson" id="pembelajaran"><a href="/lesson" class="shortcut-link-lesson">Ayo Mulai Belajar!</a></button>
</div>
