/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda di bawah */
header {
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}
.header-logo {
  margin:20px 40px;
  font-size:36px;
  float:left;
}
.header-list li {
  float:left;
  margin:33px 20px;
}
.top-wrapper {
  padding:100px 80px;
}
.top-wrapper h1 {
  font-size:140px;
}
.top-wrapper span {
  color:#ff4a4a;
}
.top-wrapper h2 {
  font-size:60px;
}
.contents {
  margin:0px 80px;
  height:500px;
  margin-bottom:100px;
}
.section-title {
  font-size:28px;
  border-bottom:2px solid #dee7ec;
  padding-bottom:15px;
  margin-bottom:50px;
}
.contents-item {
  display:inline;
  float:left;
  margin-right:40px;
}
.contents-item p {
  padding-top:30px;
  font-size:24px;
}