body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

li {
  list-style: none;
  float: left;
  padding:33px 20px;
  font-size:19px;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.main{
  padding: 0px 80px;
}
.container h1{
  margin-bottom:-50px;
  font-size:140px;
}
.container span{
  color:red;
}

.container h2{
  font-size:60px;
}
