<div class="card my-2" style="width: 36rem; margin: 0 auto">
  <div class="card-body">
    <h1 class="card-title">Credential</h1>
    <table class="table table-borderless">
        <tr>
            <th scope="row">1</th>
            <td>Username</td>
            <td>:</td>
            <td>admin</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Password</td>
            <td>:</td>
            <td>pass</td>
        </tr>
    </table>
    <h2 class="card-subtitle mt-2">Actions</h2>
    <table class="table table-borderless">
        <tr>
            <th>Article</th>
            <th>Comment</th>
            <th>User</th>
        </tr>
        <tr>
            <td>create, update, delete</td>
            <td>delete</td>
            <td>update, delete</td>
        </tr>
    </table>
  </div>
</div>