main {
    display: flex;
}

aside {
    flex: 1;
    padding-left: 120px;
    padding-right: 60px;
    margin-right: 60px;
    border-right: 1px solid #ccc;
}

aside > h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

aside > h4 {
    font-family: 'Inter';
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

aside > p {
    font-family: 'Inter';
    font-weight: 500;
}

.container-contestant {
    display: flex;
    flex: 3;
    padding-right: 120px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-contestant > h4 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-bottom: 8px;
}

.container-contestant > p {
    font-family: 'Inter';
    font-size: 18px;
    margin-top: 16px;
}

.container {
    flex: 3;
    padding-right: 120px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container > form {
    display: flex;
    flex-direction: column;
    
}

.container form h4 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-bottom: 8px;
}

.container form p {
    font-family: 'Inter';
    font-size: 18px;
    margin-top: 16px;
}

.container form input {
    width: 400px;
    font-size: 18px;
    padding: 10px;
    margin-top: 8px;
}

.button-register {
    margin: 40px auto;
}

.button-register > input {
    width: 425px;
    border-radius: 32px;
    color: white;
    background-color: #D22F27;
    font-family: 'Inter';
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.button-register input:hover {
    background-color: #FF3C32;
}

.content-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.content-card > img {
    width: 200px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.content-card > p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    padding: 25px;
}

.content-card > button {
    width: max-content;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 32px;
    background-color: #D22F27;
    color: white;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
}

.content-card button:hover {
    background-color: #FF3C32;
}

.form-error {
    color: #ff4d75;
  }

.flash {
    font-family: 'Inter';
    font-size: 20px;
    padding: 8px;
    color: #820000;
    background-color: #FEE0C0;
}