/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

h1 {
  font-size : 140px;
}

h2 {
  font-size : 60px;
}

span {
  color :#ff4a4a ;
}

.header {
  background-color : #26d0c9;
  color : #fff;
  height : 90px;
}

.logo {
  padding : 20px 40px;
  font-size : 36px;
  float : left;
}

.menu li{
  padding : 33px 20px;
  float : left;
}

.top {
  margin : 100px 80px;
}
/* Ketik code Anda di bawah */
.center {
  margin-top : 100px;
  margin-bottom : 100px;
  height : 500px;
  padding-left : 80px;
  padding-right : 80px;
}
.center  h3{
  font-size : 28px;
  padding-bottom : 15px;
  border-bottom : 2px solid #dee7ec;
}

.image {
  padding-top : 50px;
}

.image-detail {
  float : left;
}

.image-detail img {
  padding-right : 40px;
}

.image-detail p {
  font-size : 24px;
  padding-top : 30px;
}