<header>
  <div class="header-logo">
    <!-- Jadikan ini tautan menuju halaman "Top" -->
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <!-- Jadikan ini tautan menuju halaman "About" -->
      <a href="/about">Tentang</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>Tentang TweetApp</h2>
  <p>
    TweetApp adalah sebuah layanan jejaring sosial.
    Para pengguna dapat posting dan berinteraksi dengan pesan singkat yang disebut "twit".
  </p>
  <img class="about-img" src="/tweets.png">
</div>