<div class="main posts_index">
    <!----- All posts render here ----->
    <div class="post_container">
        <!----- All post styling ---->
        <% @post.each do |post|%>
        <div class="post_user">
            <!----Each user post here---->
            <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
        <% end %>
    </div>
</div>