h1 {
  color: #ff0000;
  /* Change the font-size to 40px */
  font-size:40px;
  font-family:serif;
  /* Change the font-family to serif */
  
  
}

p {
  color: #0000ff;
  /* Change the font-size to 20px */
  font-size:20px;
  font-family:"Lucida Grande";
  
  /* Change the font-family to "Lucida Grande" */
  
  
}