<div class="about-main">
  <h2>Tentang TweetApp</h2>
  <p>
    TweetApp adalah sebuah layanan jejaring sosial.
    Para pengguna dapat posting dan berinteraksi dengan pesan singkat yang disebut "twit".
  </p>
  <img class="about-img" src="/tweets.png">
</div>
