<header>
      <div class="header-logo">
        <a href="/">TweetApp</a>
      </div>
      <ul class="header-menus">
        <li>
          <a href="/about">Tentang</a>
        </li>
        <li>
          <a href="/posts/index">Post</a>
        </li>
      </ul>
    </header>
    <div class="main top-main">
  <div class="top-message">
    <h2>Berkicau pada dunia.<br>Terhubung dengan dunia.</h2>
    <p>Bagikan momen favorit Anda!</p>
  </div>
</div>