body {
  font-family: "Avenir Next";
  margin:0px;
}

li {
  list-style: none;
}

.header li {
  float: left;
  padding:33px 20px;
  font-size:19px;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 80px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.main{
  padding: 0px 80px;
}
.container h1{
  margin-bottom:-60px;
  font-size:140px;
}
.container span{
  color:red;
}

.container h2{
  font-size:60px;
}

.contents {
  height: 500px;
  margin-top:100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right:30px;
  
}

.contents-item p{
 font-size:24px;
 margin-top:30px;
}

.contact-form {
  padding-top: 90px;
}

input{
  width:400px;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
  font-size:18px;
  border: 1px solid #dee7ec;
}

textarea{
  width:400px;
  margin-top:10px;
  padding:20px;
  font-size:18px;
  border: 1px solid #dee7ec;
}

.contact-submit{
  background-color:#dee7ec;
  color:#889eab
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 40px;
  padding: 80px 40px;
  margin-top:80px;
  float: bottom;
}

.footer-logo {
  float: left;
  font-size: 32px;
  margin-top:-20px;
}

.footer-list {
  float: right;
  margin-top:-50px;
}

.footer-list li {
  padding-bottom: 20px;
}